<div id="sidebar">
	<h2>Sidebar</h2>
	<p>Here are some related links you might be interested in:</p>
	<ul>
		<li><a href="/">Go home</a></li>
		<li><a href="/welcome">Welcome "Pages" Demo</a></li>
		<li><a href="/test">Other Demos</a></li>
	</ul>
</div> <!-- end sidebar -->